body {
    background-color: #EFEFEF;
}

#header {
    margin-bottom: 20px;
    background-color: #2D2D30;
    background-image: url("/images/site/beansbg.jpg");
    background-size: cover;
}

#headergradient
{
    background-image: linear-gradient(transparent, #2D2D30);
}

#header h1 {
    font-family: 'Special Elite', cursive;
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
    margin: 0 0 -20px 0;
}

#footer {
    margin-top: 60px;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
}

a
{
    color: #007ACC;
}

a:hover
{
    color: #1C97EA;
}

time
{
    display: block;
    font-size: 0.8em;
    margin: 10px 0 10px 0;
    color: #808080;
}

article {
    margin-bottom: 15px;
}

article h2 a
{
    color: #202020 !important;
    text-shadow: 1px 1px #dddddd;
}

article + article {
    margin-top: 15px;
    padding-top: 15px;
}

article .tags
{
    border-left: 5px solid #c0c0c0;
    padding-left: 10px;
    font-style: italic;
}

article .tags a
{
    font-style: normal;
}

.content h6 {
    font-size: 1.1em;
}

.content h5 {
    font-size: 1.2em;
}

.content h4 {
    font-size: 1.3em;
}

.content h3 {
    font-size: 1.4em;
}

.content h2 {
    font-size: 1.6em;
}

.content h1 {
    font-size: 1.8em;
}

#navbar-toggle:checked ~ .collapse {
    display: block;
}

.bg-secondary
{
    background-color: #3F3F46 !important;
}

.list-group-item-action:hover
{
    background-color: #dedede !important;

}

.navbar-nav
{
    margin: 0 auto;
    text-align:center;
}

.nav-item a
{
    margin: 0 12px;
}

article
{
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.score {
    background-color: #f0e8de;
    border: 1px solid #F89829;
    margin: 10px 70px 10px 10px;
    border-radius: 4px;
}

.score-emboss
{
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #A5651B;
    border-bottom: 1px solid #A5651B;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border-radius: 4px;
}

.score-name
{
    font-size: 0.8em;
    text-transform: uppercase;
}

.score-number {
    color: #A5651B;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Special Elite', cursive;
    margin-bottom: -10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.20);
}

.pull-left
{
    float:left;
}

.pull-right
{
    float: right;
}

.clear {
    clear:both;
}

.product-image
{
    float: right;
    padding: 20px 0 20px 20px;
}

.externalLink:after
{
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);    
}

.reviewRoasterInfo
{
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
}

.reviewRoasterInfo h3 {
    margin: 0;
    padding: 10px;
    background-color: #eeeeee;
    font-size: 1.1em;
}

blockquote {
    display:table;
    padding: 16px 16px 0 16px;
    background: #e5eef6;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tagCloud
{

}

.tagItem {
    display: block;
    float: left;
    padding: 10px 20px;
}